@import 'reset.css';


:root {
    --vh: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    position: relative;

    margin: 0 auto;
    width: 600px;
    height: 100vh;
    height: var(--vh);

    @media only screen and (max-device-width: 600px) {
        width: 100%;
        max-width: 100%;
    }


    div.buttons {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        margin: 0;
        padding: 10px 0;

        background: #fff;

        z-index: 100;

        @media only screen and (max-device-width: 600px) {
            padding-right: 5px;
            padding-left: 5px;
        }


        > button {
            padding: 5px 9px;

            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 3px;

            color: #3a3a3a;

            outline: none;
            user-select: none;


            &:hover {
                background-color: #eeeef7;
                cursor: pointer;
            }


            & + button {
                margin-left: 10px;
            }


            > span:not(.rc-checkbox) {
                margin-left: 9px;
            }
        }
    }

    div.item-list {
        @height: var(--vh);
        height: calc(~'100vh - 65px');
        height: calc(~'@{height} - 65px');

        padding-top: 60px;

        @media only screen and (max-device-width: 600px) {
            height: @height;

            padding-bottom: 60px;
        }

        overflow-y: scroll;


        > .item {
            position: relative;

            display: block;
            padding: 10px;

            border-bottom: 1px solid #ccc;

            @media only screen and (max-device-width: 600px) {
                padding-right: 15px;
                padding-left: 15px;
            }


            &:hover {
                background-color: #f2f4f7;
                cursor: pointer;

                > .delete-button {
                    display: block;
                }
            }

            &.-done {
                > .content {
                    color: #9a9a9a;
                }
            }
            
            
            > input[type="checkbox"],
            > span.rc-checkbox {
                margin-top: 5px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: top;
            }
    
            > .content {
                width: 100%;

                font-size: 20px;
                line-height: 24px;

                user-select: none;
            }

            > button.delete-button {
                position: absolute;
                top: 10px;
                right: 10px;

                display: none;
                width: 30px;
                padding: 0;

                background-color: transparent;
                border: none;

                color: #9a9a9a;
                font-size: 14px;
                line-height: 30px;

                outline: none;
                user-select: none;
                z-index: 100;


                &:hover {
                    cursor: pointer;

                    color: #4a4a4a;
                }
            }
        }

        > .message {
            padding: 30px 10px;

            color: #9a9a9a;
            text-align: center;
        }
    }

    form.todo-form {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;


        > div.line {
            position: relative;

            width: 100%;


            > button {
                position: absolute;
                top: 6px;
                right: 6px;

                width: 40px;
                height: 40px;

                background: rgb(136, 136, 139);
                border: none;
                border-radius: 4px;

                color: #e1eaf3;
                font-size: 18px;
                text-align: center;

                outline: none;

                &:hover {
                    background: rgb(131, 131, 134);

                    cursor: pointer;
                }


                > svg {
                    margin-top: 6px;
                }
            }
    
            > input {
                margin-bottom: 5px;
                width: 100%;
                padding: 10px 50px 10px 15px;
    
                border: 1px solid #ccc;
                
                font-size: 20px;
    
                @media only screen and (max-device-width: 600px) {
                    margin-bottom: 0;
    
                    border-right: none;
                    border-left: none;
                }
            
    
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
